/* Layout */

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

.detail-page {
  margin-top: 4rem;
  margin-bottom: 10rem;
}

@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

/* Navigation */

@media (min-width: 768px) {
  .navbar .nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Dropdowns and buttons */

.dropdown-item .svg-inline--fa {
  margin-right: .5rem;
}

@media (min-width: 768px) {
  .btn .svg-inline--fa {
    margin-right: .25rem;
  }
}

.dropdown-item-danger a {
  color: #dc3545 !important;
}

.dropdown-item-danger a:active {
  color: #fff !important;
  background: #dc3545 !important;
}

/* Tables */

.table td {
  vertical-align: middle;
}

/* Forms */

.form .form-control-plaintext {
  outline: none;
  padding: 0.375rem 0;
}

.form .form-control-plaintext--bold {
  font-weight: bold;
}

.form select.form-control-plaintext {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form select.form-control-plaintext::-ms-expand {
  display: none;
}

.form fieldset {
  padding: 0 1rem;
  border: 1px solid #ddd;
  border-radius: .5rem;
  margin-bottom: 3rem;
}

.form fieldset .form-group {
  margin-left: .5rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.form fieldset legend {
  width: auto;
  padding: 0 .5rem
}

.form fieldset label {
  font-weight: bold;
}

.prism-editor-wrapper pre {
  border-radius: 0.25rem;
}

.prism-editor-wrapper.is-invalid pre {
  border: 1px solid #dc3545;
}

.prism-editor-wrapper.is-invalid ~ .invalid-feedback {
  display: block;
}

/* Extra styles */

.link-muted {
  color: #212529;
  text-decoration: underline;
}
